:host {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0 0 8px 0;
  &.title{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
    color: lightslategray;
  }
  &.subtitle{
    margin-bottom: 16px;
    font-size: 16px;
    color: darkslategrey;
  }
}

.text-left{
  text-align: left;
}

.rating-badge{
  padding: 4px;
  font-size: 12px;
  border-radius: 100px;
  background-color: lightslategrey;
  color: white;
}

.text-red {
  color: red;
}


//helper class
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.justify-contents-center {
  justify-content: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-16 {
  margin-right: 1rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}
.mr-8{
  margin-right: 0.5rem;
}
.d-none{
  display: none;
}

.d-show{
  display: block;
}

//button style
.btn-cta {
  background: crimson;
  color: #ffffff;
  padding: 8px 16px;
  border: 0;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
    filter: brightness(100%);
  }
}

.icon-btn{
  background: none;
  border: none;
  font-weight: bold;
  color: darkslategrey;
  &:hover{
    cursor: pointer;
  }
}

//input style
input[type=search] {
  border: 1px solid slategrey !important;
  border-radius: 2px !important;
  padding: 8px 16px;

  &::placeholder {
    color: darkgrey;
  }
}

//img style
img.movie-poster {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

//img for devices 768px and larger
@media only screen and (min-device-width: 768px) {
  img.movie-poster {
    width: 220px;
    height: auto;
  }
}

@media only screen and (max-device-width: 768px) {
  .btn-cta{
    margin-top: 16px;
    width: 100%;
  }
  .w-mobile-100{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
