<h1>Open Movie Database Search</h1>
<p>Your one stop location for all the movie information</p>

<hr/>

<p>Search by movie title or id and/or year</p>
<br>

<form class="d-flex flex-row align-items-end justify-contents-center">
  <div class="d-flex flex-col mr-16">
    <label class="mb-8" for="searchByTitle">Title<span class="text-red">*</span></label>
    <input [(ngModel)]="searchByTitle" aria-label="Search by movie title" id="searchByTitle" name="searchByTitle"
           type="search"
           placeholder="Enter title...">
  </div>
  <div class="d-flex flex-col mr-16">
    <label class="mb-8" for="searchById">Id</label>
    <input [(ngModel)]="searchById" aria-label="Search by movie title" id="searchById" name="searchById"
           type="search"
           placeholder="Enter id...">
  </div>
  <div class="d-flex flex-col">
    <label class="mb-8" for="searchByYear">Year</label>
    <input [(ngModel)]="searchByYear" aria-label="Search by movie year" id="searchByYear" name="searchByYear"
           type="search"
           placeholder="Enter year...">
  </div>

  <button class="ml-auto btn-cta" type=submit value="submit" [disabled]="!searchByTitle && !searchById"
          (click)="searchMovie()">
    Search
  </button>
</form>

<div *ngIf="data">
  <h2>{{data?.Title}}</h2>
  <p>{{data?.Released}} | {{data?.Rated}} | {{data?.Runtime}}</p>
  <div class="d-flex flex-row">
    <img class="movie-poster" src="{{data?.Poster}}" alt="movie poster">
    <div class="d-flex flex-col">
      <p>{{data?.Genre}}</p>
      <p>{{data?.Language}}</p>
    </div>

    <!--  rating-->
    <p>{{data?.Metascore}}<i class="fa fa-star" aria-hidden="true"></i></p>
    <p>{{data?.imdbRating}}</p>
    <p>{{data?.imdbVotes}}</p>
    <p>{{data?.Awards}}</p>

    <!--  More Information-->
    <button class='icon-btn' type="button" (click)="toggleMoreDetails()">
      <i class="fa" [ngClass]="{
    'fa-chevron-down': showMoreDetails === false,
    'fa-chevron-up': showMoreDetails === true
    }" aria-hidden="true"></i>
    </button>

    <p>{{data?.Plot}}</p>
    <p>{{data?.Actors}}</p>
    <p>{{data?.Director}}</p>
    <p>{{data?.Production}}</p>
  </div>
</div>
